apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ipl-analyst.fullname" . }}
  labels:
    {{- include "ipl-analyst.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "ipl-analyst.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "ipl-analyst.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          # Verify the app is alive by hitting the health check endpoint
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
