# Default values for ipl-analyst.
replicaCount: 1

image:
  repository: ipl-analyst
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

service:
  type: ClusterIP
  port: 80

resources: 
  # We need GPU support for the LLM!
  limits:
    nvidia.com/gpu: 1
    memory: "8Gi"
  requests:
    memory: "4Gi"
